.nav {
    display: flex;
    margin-left: 4%;
    margin-top: 2%;
    grid-area: header;
    padding-left: 13%;
    padding-bottom: 0;
    background: url('../../img/logo.png') no-repeat;
}

.item {
    width: 200px;
    font-size: 25px;
    text-decoration: none;
    color: white;
    padding-right: 5%;
}

.item a:hover {
    background-color: #D4C17F;
    color: black;
    border-radius: 5px;
}

.headerContact {
    font-size: 25px;
    color: white;
    width: 250px;
}