.app-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  'header'
  'content';
  grid-template-rows: 300px 5fr;
  background: url('./img/background.png');
  max-width: 2500px;
  min-width: 700px;
}

.app-wrapper-content {
  grid-area: content;
}